html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.monitorfields__container {
  display: flex;
  flex-direction: row;
}

.monitorfield__outer {
  flex-basis: 300px;
  flex-shrink: 0;
}

.monitorfield {
  background-color: #eee;
  height: 300px;
  overflow-y: scroll;
  border-radius: 1px;
  margin: 20px;  
}

.monitorfield__header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 20px;
}
.monitorfield__title {
  margin: 0;
  line-height: 1;
}
.monitorfield__main {
  padding: 20px 40px;
}
.monitorfield__list {
  list-style-type: none;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: .05em;
  margin: 0;
  padding: 0;
}
.monitorfield__list-item {
  padding-bottom: 7.5px;
  margin-bottom: 7.55px;
  border-bottom: 1px solid #ffffff52;
  line-height: 1;

}
.monitorfield__list-item:first-child {
  font-weight: 800;
}
.monitorfield__list-item ~ .monitorfield__list-item {
  opacity: .75;
}

.monitorfield--Updates {
  background-color: #8ce88c;
}

.monitorfield--Fouten {
  background-color: #c1472e;
}

.monitorfield--Fouten .monitorfield__list-item-left {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.warning-client-closing {
  position: fixed;
  bottom: 20px;
  width: 380px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  font-weight: bold;
  color: white;
  background-color: #212112;
}