@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.navigation-block {
  display: none;
}

.event-block__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-x: hidden;
}
.event-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  flex-basis: calc(50% - 3em);
  min-height: 300px;
  min-width: 450px;
  padding: 1.5em;
  position: relative;
  flex-shrink: 1;
  position: relative;
  overflow-x:hidden;
}
@media (max-width: 600px){
  .event-block {
    min-height: 450px;
  }
}

.event-block--image {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
height: 100%;
}
@media (max-width: 600px) {
  .event-block__wrapper {
    display: block;
  }
  .event-block {
    min-width: initial;
    width: 100%;
    max-width: calc(100% - 3em);
  }
}
.event-block--enlarged {
  width: 100vw;
  height: calc(100vh - 3em);
  max-height: initial;
  max-width: 100%;
  font-size: 1.5rem;
  overflow: hidden;
  flex-basis:100%;
}
@media (max-width: 600px){
  .event-block--enlarged {
    width: calc(100vw - 3em);
    min-height: calc(100vh - 3em);
    max-height: initial;
    max-width: 100%;
    font-size: 1rem;
    overflow: hidden;
  }

}
.void-container-for-enlarged {
  display: none;
}
.event-block--enlarged .void-container-for-enlarged {
  display: block;
}


.contrast-with-dark {
  color: #f5f5f5;
  /* mix-blend-mode: lighten; */
}

.provide-dark-contrast {
  position: relative;
}
.provide-dark-contrast::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(
    245deg,
    rgba(38, 1, 1, 0.33) 5%,
    rgba(60, 10, 10, 0.5) 15%,
    rgba(68, 15, 58, 0.85) 80%,
    rgba(16, 4, 13, 0.85) 100%
  ), linear-gradient( 181deg, rgba(16, 4, 13, 0.85) 0%, rgba(68, 15, 58, 0.45) 4%, rgba(68, 15, 58, 0) 6%, transparent 100% );
  mix-blend-mode: multiply;
  z-index: -1;
}
.event-block__header {
  margin-bottom: 0.5em;
}
.event-block__title {
  max-width: calc(100% - 120px);
  mix-blend-mode: lighten;
  margin-top: 0;
  line-height: .9;
}
@media (max-width: 600px){
  .event-block__title {
    max-width: calc(100% - 80px);
  }
}
.event-block__title-showname {
  text-transform: uppercase;
  display: block;
}
.event-block__startDate, .event-block__title-location {
  margin-top: .33em;
  font-size: 0.75em;
  opacity: 0.75;
}
.event-block__title-location + .event-block__startDate {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
  line-height: 1;
}
.event-block__title-location + .event-block__startDate::before {
  position: absolute;
  top: 11px;
  left: -2px;
  width: 2px;
  display: block;
  content: '';
  height: 18px;
  background-color: #716e6ebf;
}

@media (max-width: 600px){
  .event-block__startDate, .event-block__title-location {
    margin-top: 0;
  }
  .event-block__title-location + .event-block__startDate {
    position: static;
    display: block;
    margin-left: 0;
    padding-left: 0;
  }
  .event-block__title-location + .event-block__startDate::before{
    display: none;
  }
}

.event-block__paragraph.event-block__paragraph--short-text {
  max-width: 30ch;opacity: .75;
}
.event-block__load-more {
  border: 0;
  background-color: #3c0c0c;
  color: white;
  font-weight: bold;
  padding: 0.5em 0.75em;
  margin-top: 0.5em;
  display: inline-block;
  font-size: 1.5em;
  mix-blend-mode: hard-light;
  flex-grow: 0;
  position: absolute;
  top: 2em;
  right: .25em;
}
.event-block__load-more:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.event-block__main {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
  padding-right: 60px;
  margin-right: -60px;
}

.event-block__main > p:first-child {
  margin-top: 0;
}
.event-block__main > p:last-child {
  margin-bottom: 0;
}
.event-block__main p,
.event-block__main ul,
.event-block__main h1,
.event-block__main h2,
.event-block__main h3,
.event-block__main h4,
.event-block__main h5 {
  max-width: 55ch;
}

.event-block__price {
  font-size: 1.33rem;
  padding: 0.5em 0.75em;
  background-color: rgb(170, 22, 22);
  font-weight: bold;
  mix-blend-mode: luminosity;
  display: inline-block;
  position: absolute;
  top: 0.5em;
  right: 0.25em;
  filter: blur(0.25px);
  mix-blend-mode: hard-light;
}
.event-block--enlarged .event-block__price {
  font-size: 3rem;
  top: 1em;
  right: 1em;
}

@media (max-width: 600px){
    .event-block--enlarged .event-block__price {
    font-size: 1rem;
    top: 1em;
    right: 1em;
    position: static;
  }  
}

.event-block__paragraph {
  font-size: 0.8em;
  line-height: 0.95;
  max-width: 55ch;
}
.event-block__footer {
  text-align: right;
}
.event-block__venue-link {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ff9bf9;
  text-decoration: none;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  display: inline-block;
  mix-blend-mode: exclusion;
  line-height: 0.66;
}
.event-block__venue-link:hover {
  color: #b3ff4d;
  text-decoration: none;
}

.event-block--enlarged .event-block__venue-link {
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  right: 2em;
  transform: translate(0, -50%);
}
@media (max-width: 600px){
  .event-block--enlarged .event-block__venue-link {
    position: static;
    font-size: 2.5rem;
    display: block;
    transform: unset;
    margin-top:1em;
  }  
}