@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

:root {
  --green: #b3ff4d;
  --pink: #ff9bf9;
  --anthracite: #0f110e
}

.green-color {
  color: var(--green);
}
.pink-color {
  color: var(--pink);
}
.anthracite-color {
  color: var(--anthracite);
}

@media (max-width: 1024px){
  body{
  font-size: 16px;
  }
}
.app {
  /* display: flex; */
  position: relative;
  background-color: var(--anthracite);
}
.app-view {
  width: 100vw;
}

.flickity-viewport:focus {
  border: 0;
  outline: 0;
}

.flickity-enabled:focus {
  outline: none;
}

.cursive-font {font-family: 'Square Peg', cursive;
}
.sans-serif-font {
  font-family: 'Montserrat', sans-serif;
}

.app-banner {
  padding: 1em;
  background-color: var(--anthracite);
  color: var(--green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h2.app-title {
  font-size: 26px;
}
.app-title-right {
  font-weight: bold;
  font-size: 1.25em;
}
.app-title-right span:hover {
  cursor: pointer;
  color: var(--pink);
  font-weight: bold;
}



.contrast-with-dark {
  color: #f5f5f5;
  /* mix-blend-mode: lighten; */
}

.provide-dark-contrast {
  position: relative;
}
.provide-dark-contrast::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(
    245deg,
    rgba(38, 1, 1, 0.33) 5%,
    rgba(60, 10, 10, 0.5) 15%,
    rgba(68, 15, 58, 0.85) 80%,
    rgba(16, 4, 13, 0.85) 100%
  ), linear-gradient( 181deg, rgba(16, 4, 13, 0.85) 0%, rgba(68, 15, 58, 0.45) 4%, rgba(68, 15, 58, 0) 6%, transparent 100% );
  mix-blend-mode: multiply;
  z-index: -1;
}

.hidden {
  display: none !important;
}
