
.event-block__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-x: hidden;
}

.event-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  flex-basis: calc(33% - 3em);
  min-height: 300px;
  min-width: 350px;
  padding: 1.5em;
  position: relative;
  flex-shrink: 1;
  position: relative;
  overflow-x:hidden;
}



.event-block--image {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
height: 100%;
}
.event-block--image-blurred {
 filter: saturate(90%) blur(1px) grayscale(100%) hue-rotate(15deg) sepia(100%);
}
.event-block--enlarged {
  width: 100vw;
  height: calc(100vh - 3em);
  max-height: initial;
  max-width: 100%;
  font-size: 1.5rem;
  overflow: hidden;
  flex-basis:100%;
}

.event-block--first-of-month {
  border-left-width: 150px;
  border-left-style: solid;
  border-left-color: #0f110e;
  overflow-x: initial;
}
.event-block__first-of-month {
  position: absolute;
  font-size: 2.5em;
  color: white;
  left: -212px;
  top: 112px;
  width: 270px;
  text-align: right;
  transform: rotate(-90deg);
  z-index: 2;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: .95;
  text-transform: capitalize;
}
@media (max-width: 1024px){
  .event-block--first-of-month {
    border-left-width: 100px;
  }
  .event-block__first-of-month {
    left: -177px;
    top: 129px;
    width: 250px;
  }  
}

@media (max-width: 600px){
  .event-block--first-of-month {
    border-left: none;
    border-top-width: 60px;
    border-top-style: solid;
    border-top-color: #0f110e;
  }    
  .event-block__first-of-month {
    font-size: 1.5em;
    right: 20px;
    top: -40px;
    width: 100%;
    transform: rotate(0);
    left: auto;

  }
 
}



.void-container-for-enlarged {
  display: none;
}
.event-block--enlarged .void-container-for-enlarged {
  display: block;
}
.event-block--enlarged.provide-dark-contrast::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0,0,0,0.4);
  mix-blend-mode: darken;
  z-index: -1;
}
.event-block__header {
  margin-bottom: 0.5em;
}
.event-block__title {
  max-width: calc(100% - 120px);
  mix-blend-mode: lighten;
  margin-top: 0;
  line-height: .9;
}

.event-block__title-showname {
  /* text-transform: uppercase; */
  display: block;
  font-size: 1.5em;
}
.event-block__title-showname--blurred {
  opacity: 0.5;
  filter: blur(0.5px);
}
.event-block__startDate, .event-block__title-location {
  margin-top: .33em;
  font-size: 0.75em;
  opacity: 0.5;
}
.event-block__title-location + .event-block__startDate {
  margin: 0;
  position: relative;
  line-height: 1;
  display: block;
}
.event-block__title-location--blurred {
  opacity: 0.6;
  filter: blur(0.5px)
}




.event-block__paragraph.event-block__paragraph--short-text {
  max-width: 30ch;opacity: .75;
}
.event-block__load-more {
  border: 0;
  background-color: var(--green);
  color: white;
  padding: 0.5em 0.75em;
  margin-top: 0.5em;
  display: inline-block;
  font-size: 1.5em;
  mix-blend-mode: hard-light;
  flex-grow: 0;
  position: absolute;
  top: 2em;
  right: .25em;
  text-transform:uppercase;
  font-weight: 900;
  min-width: 132px;
}
.event-block__load-more--blurred{
  filter: grayscale(50%);
  opacity: 0.6;
}
.event-block__load-more:hover {
  background-color: var(--pink);
  cursor: pointer;
}


.event-block__main {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
  padding-right: 60px;
  margin-right: -60px;
}

.event-block__main > p:first-child {
  margin-top: 0;
}
.event-block__main > p:last-child {
  margin-bottom: 0;
}
.event-block__main p,
.event-block__main ul,
.event-block__main h1,
.event-block__main h2,
.event-block__main h3,
.event-block__main h4,
.event-block__main h5 {
  max-width: 55ch;
}

.event-block__price {
  font-size: 1.33rem;
  padding: 0.5em 0.75em;
  background-color: var(--pink);
  font-weight: bold;
  mix-blend-mode: luminosity;
  display: inline-block;
  position: absolute;
  top: 0.5em;
  right: calc(0.25em + 2px);
  filter: blur(0.25px);
  mix-blend-mode: hard-light;
  font-weight: 900;
  min-width: 110px;
  text-align: center;
}
.event-block__price--sold-out {
  background: none;  
}

.event-block--enlarged .event-block__price {
  font-size: 3rem;
  top: 3em;
  right: 1em;
}

.event-block iframe {
  max-width: 100%;
}

.event-block__paragraph {
  font-size: 0.8em;
  line-height: 0.95;
  max-width: 55ch;
}
.event-block__footer {
  text-align: right;
}
.event-block__venue-link {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ff9bf9;
  text-decoration: none;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  display: inline-block;
  mix-blend-mode: exclusion;
  line-height: 0.66;
}
.event-block__venue-link:hover {
  color: #b3ff4d;
  text-decoration: none;
}
.event-block__venue-link--sold-out {
  color: #1cd880;
  mix-blend-mode: hard-light;
  font-size: 6rem;
  word-wrap: anywhere;
  max-width: 66%;
}
@media (max-width: 1024px){
  .event-block__venue-link--sold-out {
    font-size: 4rem;
  }
}

.event-block__venue-link--sold-out:hover {
  color: #1cd880;
}
.event-block--enlarged .event-block__footer {
  text-align: left;
}

.event-block--enlarged .event-block__venue-link {
  position: static;
  top: auto;
  font-size: 2.5rem;
  right: auto;
  transform: initial;
  margin-top: 1em;
}

.event-block__more-blocks {
  background-color: var(--pink);
  color: white;
  padding: 0.5em 0.75em;
  margin-top: 0;
  display: inline-block;
  font-size: 1.5em;
  mix-blend-mode: hard-light;
  flex-grow: 0;
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  border: 0;
}
.event-block__more-blocks:hover {
  cursor: pointer;
}